@{
    Layout = "_Layout";
}

<div class="hero">

    <h1>Todas as Reuniões</h1>

    <p>
        Gerencie todas as reuniões Scrum da equipe.
    </p>

</div>

<a class="btn-modern">
    Criar Nova Reunião
</a>